/* 颜色 */
:root{
  /* 文字色 */
  --adorn-text-color: #3C4761;
  --adorn-text-secondary: #7487A3;
  --adorn-disabled-text-color: #C5CEE0;

  /* 白色 */
  --adorn-white-color: #fff;

  /* 边框色 */
  --adorn-border-color: #C5CEE0;

  /* 背景色 */
  --adorn-bg-color: #F6F9FB;

  /* 禁用背景色 */
  --adorn-disabled-bg-color: #EDF1F7;
}